.cards_container {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 200px;
  height: 300px;
  background-color: #ffffff91;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(6, 17, 77, 0.685) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  place-self: center;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.card:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.text {
  pointer-events: none;
  font-weight: bolder;
}

.card-image {
  width: 100%;
  place-self: center;
  flex: 0 0 70%;
  object-fit: contain;
}

.images {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.card-content {
  width: 100%;
  overflow: hidden;
  flex: 0 0 30%;
}
.card-info-container {
  position: absolute;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-size: larger;
  background-color: #000000;
  overflow: hidden;
  transition: transform 0.7s ease;
  pointer-events: none;
  z-index: 2;
  padding: 0;
}
.card.selected .card-info {
  opacity: 1;
  pointer-events: auto;
}
.card-info.show {
  transform: translateY(0);
}
.card-info.hide {
  transform: translateY(100%);
}

.downloadButton {
  position: absolute;
  display: inline-flex;
  align-self: center;
  bottom: 60px;
  border: #fff solid 2px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  padding: 10px 20px;
  background: linear-gradient(45deg, #691515ab, #0a1944c7);
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
  width: 117px;
}
.downloadButton:hover {
  background: linear-gradient(45deg, #ff6e40, #ffa726);
}

.downloadButton:active {
  background: linear-gradient(45deg, #e64a19, #f57c00);
}
.otherVersionsButton {
  position: absolute;
  display: inline-flex;
  align-self: center;
  bottom: 5px;
  border: #fff solid 2px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  padding: 10px 20px;
  background: linear-gradient(45deg, #691515ab, #0a1944c7);
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
  width: 117px;
}
.otherVersionsButton:hover {
  background: linear-gradient(45deg, #c73131, #d85a5a);
}

.otherVersionsButton:active {
  background: linear-gradient(45deg, #e64a19, #f57c00);
}
.card-info-text{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0px;
}
.card-info-title {
  position: relative;
  padding: 10px;
  margin: 0;
}
.card-info-version {
  padding: 15px;
  margin: 0;
}
.card-info-year {
  padding: 15px;
  margin: 0;
}
/* ------------------------ */

@media (max-width: 1050px) {
  .cards_container {
    max-width: 95%;
  }

  .card:hover {
    transform: none;
  }

  .card:focus {
    transform: none;
  }
}

@media screen and (max-width: 980px) {
  .cards_container {
    max-width: 80%;
    grid-template-columns: repeat(3, 35%);
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 720px) {
  .cards_container {
    max-width: 100%;
    grid-template-columns: repeat(2, 45%);
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .cards_container {
    max-width: 80%;
    grid-template-columns: repeat(1, 100%);
    margin-top: 30px;
  }
  .card {
    padding-left: 0;
    padding-bottom: 0;
    width: 350px;
    height: 175px;
    flex-direction: row;
    align-items: center;
  }
  .card-image {
    height: 100%;
    place-self: center;
    flex: 0 0 60%;
  }

  .images {
    width: 95%;
    height: 95%;
    object-fit: contain;
  }
  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 0 0 40%;
  }
  .card-info {
    justify-content: none;
  }
  .otherVersionsButton {
  position: absolute;
  display: inline-flex;
  align-self: center;
  bottom: 5px;
  right: 10px;
  border: #fff solid 2px;
  border-bottom-left-radius: 15px 225px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 25px;
  border-top-left-radius: 225px 15px;
  padding: 10px 20px;
  background: linear-gradient(45deg, #691515ab, #0a1944c7);
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
.downloadButton {
  position: absolute;
  display: inline-flex;
  align-self: center;
  bottom: 5px;
  left: 10px;
  border: #fff solid 2px;
  border-bottom-left-radius: 15px 225px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 5px;
  border-top-left-radius: 225px 15px;
  padding: 10px 20px;
  background: linear-gradient(45deg, #691515ab, #0a1944c7);
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
}

@media screen and (max-width: 360px) {
  .card {
    width: 300px;
  }
}
