.menu {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-toggle {
  display: none;
  font-size: 25px;
  font-weight: bold;
}

.menu-items {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {

  .menu-toggle {
    right: 10%;
    background-color: #ffffff00;
    border: #082246;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
      Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 900;
    justify-content: center;
    line-height: 1.25;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }

  .menu-toggle:hover {
    transform: translateY(-1px);
  }

  .menu-toggle:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

.menu-items {
  display: none;
  justify-self: right;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
background: linear-gradient(to top, rgba(8, 34, 70, 0.5), #082246);
  opacity: 0;
  animation: showMenuItems 0.7s ease forwards;
}

@keyframes showMenuItems {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
}



  .menu-items button {
    width: 100%;
  }
}
