nav {
  display: flex;
  align-items: center;
  grid-area: nav;
  place-self: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 126px;
  right: 0;
  gap: 2rem;
  background: linear-gradient(45deg, #004d80b9, #001f3f);
  height: 26rem;
  width: 9rem;
  margin: 0;
  padding: 0;
  z-index: 3;
  transition: transform 0.7s ease;
}

nav ul.closed {
  transform: translateX(100%);
}

nav ul.open {
  transform: translateX(0);
}

nav ul li {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 5rem;
  opacity: 1;
}

.icon-text {
  font-weight: 700;
  font-size: larger;
}
